<p>forgotpassword works!</p>
<div>
    <h2>Update Password</h2>
    <form [formGroup]="loginRef" (ngSubmit)="updatepwd()">
        <label>EmailId</label>
        <input type="email" formControlName="emailid"/><br/>
        <label>New Password</label>
        <input type="password" formControlName="password"/><br/>
        <label>Confirm Password</label>
        <input type="password" formControlName="newpassword"/><br/>
        <label>TypeOfUser</label>
        <input type="radio" name="typeOfUser" value="admin" formControlName="typeOfUser"/>admin
        <input type="radio" name="typeOfUser" value="user" formControlName="typeOfUser"/>user<br/>
        <input type="submit" value="UpdatePassword"/>
        <input type="reset" value="reset"/>
    </form>
    <br/>
    <span style="color:red">{{msg}}</span><br/>
    <a routerLink="/login">login</a>
</div>